extends ./layouts/layout

block vars
    - const bodyClass= ``
    - const wrapperClass= `wrapper wrapper--nobackground`
    - const mainClass= `main-page main-page--padding`

block content
    section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
            each article, index in articles
                if index < 3
                    li.publication__list-item
                        div.publication__header
                            img.publication__list-image(src=`/img/avatar-small-${index + 1}.png`, width='20', height='20', alt='Аватар пользователя')
                            b.publication__list-name Александр Петров
                            time.publication__item-time(datetime= article.createdDate)= `${new Date(article.createdDate).getDate().toString().padStart(2, `0`)}.${(new Date(article.createdDate).getMonth() + 1).toString().padStart(2, `0`)}.${new Date(article.createdDate).getFullYear()}, ${new Date(article.createdDate).getHours().toString().padStart(2, `0`)}:${new Date(article.createdDate).getMinutes().toString().padStart(2, `0`)}`
                        a.publication__item-text(href='#')= article.title
                        p.publication__text-strong= article.comments[0].text
                        button.publication__button.button.button--close-item(type='button')
                            span.visually-hidden Закрыть строку списка
