extends ./layouts/layout

block vars
    - const bodyClass= ``
    - const wrapperClass= `wrapper wrapper--nobackground`
    - const mainClass= `main-page main-page--padding`

block content
    section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
            each article in articles
                li.notes__list-item
                    time.notes__item-time(datetime= article.createdDate)= `${new Date(article.createdDate).getDate().toString().padStart(2, `0`)}.${(new Date(article.createdDate).getMonth() + 1).toString().padStart(2, `0`)}.${new Date(article.createdDate).getFullYear()}, ${new Date(article.createdDate).getHours().toString().padStart(2, `0`)}:${new Date(article.createdDate).getMinutes().toString().padStart(2, `0`)}`
                    a.notes__item-text(href='#')= article.title
                    button.notes__button.button.button--close-item(type='button')
                        span.visually-hidden Закрыть строку списка

                button.notes__button.button.button--close-item(type='button')
                    span.visually-hidden Закрыть строку списка
